@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

a {
    text-decoration: none;
}

.social {
    position: relative;
    
    ul {
        position: fixed;
        right: 0;
        top: 150px;
        list-style: none;
        text-align: center;

        li {
            padding: 20px;

            a {
                color: #000000;
            }

        }
    }
}
.header {
    width: 100%;
    background: #000000;
    position: fixed;
    height: 80px;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


    nav {
        width: 1120px;
        margin: 0 auto;


        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding-top: 17px;

            li {
                padding: 10px;
                cursor: pointer;
                transition: .5s;

                a {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                }

            }

            li:hover {
                a {
                    color: #8b8888;

                }
            }


            li:last-child {
                border: 1px solid #fff;
                padding: 10px 20px;
                

                a {
                    text-transform: none;
                    font-weight: bold;
                    font-size: 16px;
                }

            }

            li:last-child:hover {
                background: #ffffff;

                a {
                    color: #000000;
                }
            }
        }
    }
}

#ui-datepicker-div {
    background: #ffffff;
    text-align: center;
    position: relative;
    border: 1px solid #8b8888;
    opacity: .7;
    width: 196px;

    .ui-datepicker-title {
        border-bottom: 1px solid #000000;
        padding: 10px;
    }

    .ui-datepicker-prev {
        position: absolute;
        top: 0;
        left: 0;
        
    }
    .ui-datepicker-next {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .ui-datepicker-calendar {
        margin: 10px 0 10px 10px;
        
    }

    td {
        width: 10px;
        height: 10px;
        border: 1px solid #000000;
        margin: 0;
        border-radius: 5px;
    }

    .ui-datepicker-other-month {
        border: none;
    }

    a {
        cursor: pointer;
        color: #000000;
    }

    span {
        font-size: 14px;
        padding: 2px;
        color: #000000;
    }
}

.cnt {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-top: 80px;

    .main {
        width: 100%;
        padding-top: 50px;

        .main-cnt {
            width: 1120px;
            margin: 0 auto;
            text-align: center;

            h1 {
                font-size: 45px;
                font-weight: bold;
                color: #000000;
                text-transform: uppercase;
                margin: 40px auto 0;
            }

            span {
                font-size: 24px;
                font-weight: 200;
                position: relative;

            }

            span::before {
                content: '';
                width: 60px;
                height: 1px;
                background: #000000;
                position: absolute;
                left: -60px;
                top: 18px;
            }

            span::after {
                content: '';
                width: 60px;
                height: 1px;
                background: #000000;
                position: absolute;
                left: 117px;
                top: 18px;
            }
        }

        .main-cnt-bg {
            width: 980px;
            height: 528px;
            margin: 60px auto;
            background: url(../img/hotel-bg1.jpg) no-repeat center fixed;
            background-size: cover;
        }
    }

    .hotel {
        padding-top: 70px;

        form {
            display: flex;
            width: 1120px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;

            input {
                outline:none;
            }

            #datepicker,
            #datepicke {
                padding: 10px 35px;
                text-align: center;
                margin: 20px;
            }

            #number {
                padding: 10px 0;
                text-align: center;
                margin: 20px;
            }

            button {
                padding: 10px 25px;
                color: #ffffff;
                background: #000000;
                margin-left: 20px;
            }
        }

        .hotel-info {
            width: 600px;
            margin: 80px auto;
            text-align: center;

            h4 {
                font-size: 24px;
                text-transform: uppercase;
                color: #000000;
                font-weight: 500;
                margin-bottom: 40px;
            }

            p {
                font-family: italic;
                color: #000000;
                opacity: .5;
                line-height: 1.5;
                font-weight: 400;

            }
        }
    }

    .rooms {
        padding-top: 50px;
        .rooms-bg {
            width: 980px;
            height: 460px;
            margin: 60px auto;
            background: url(../img/hotel-bg2.jpg) no-repeat center fixed;
            background-size: cover;
            padding-top: 90px;

            .rooms-info {
                width: 300px;
                height: 300px;
                background: #ffffff;
                margin: 0 auto;
                text-align: center;
                padding: 30px;

                h4 {
                    text-transform: uppercase;
                    font-size: 24px;
                    color: #000000;
                    font-weight: 500;
                    margin-bottom: 30px;
                }

                p {
                    font-family: italic;
                    color: #000000;
                    opacity: .5;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 40px;
                }

                a {
                    border: 1px solid #000000;
                    padding: 10px 20px;
                    font-weight: bold;
                    font-size: 16px;
                    color: #000000;
                    transition: .5s;
                }

                a:hover {
                    background: #000000;
                    color: #ffffff;
                }
            }
        }
    }

    .service {
        width: 900px;
        text-align: center;
        margin: 0 auto;
        padding-top: 100px;

        h4 {
            text-transform: uppercase;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
        }

        .service-box {
            width: 250px;
            height: 120px;
            display: inline-block;
            margin-top: 60px;

            h5 {
                font-size: 16px;
                color: #000000;
                font-weight: bold;
                margin-top: 15px;
            }

            p {
                font-family: italic;
                color: #000000;
                opacity: .5;
                line-height: 1.5;
                font-weight: 400;
                margin-top: 15px;
            }
        }
    }

    .gallery {
        padding-top: 50px;
        .slider {
            width: 980px;
            height: 528px;
            margin: 60px auto;
            text-align: center;

            h4 {
                text-transform: uppercase;
                font-size: 24px;
                color: #000000;
                font-weight: 500;
                margin-bottom: 50px;
            }

            slider {
                display: block;
                width: 980px;
                height: 528px;
                background: #1f1f1f;
                overflow: hidden;
                position: absolute;

                slide:nth-child(1) {
                    left: 0;
                    animation-delay: -1s;
                    background-image: url(../img/slide1.jpg);
                    background-size: cover;
                    background-position: center;
                }

                slide:nth-child(2) {
                    animation-delay: 2s;
                    background-image: url(../img/slide2.jpg);
                    background-size: cover;
                    background-position: center;
                }

                slide:nth-child(3) {
                    animation-delay: 5s;
                    background-image: url(../img/slide3.jpg);
                    background-size: cover;
                    background-position: center;
                }

                slide:nth-child(4) {
                    animation-delay: 8s;
                    background-image: url(../img/slide4.jpg);
                    background-size: cover;
                    background-position: center;
                }
            }

            slider>* {
                display: block;
                width: 100%;
                height: 100%;
                background: #1f1f1f;
                overflow: hidden;
                position: absolute;
                animation: slide 12s infinite;
            }

            @keyframes slide {
                0% {
                    left: 100%;
                    width: 100%;
                }

                5% {
                    left: 0%;
                }

                25% {
                    left: 0%;
                }

                30% {
                    left: -100%;
                    width: 100%;
                }

                30.0001% {
                    left: -100%;
                    width: 0%;
                }

                100% {
                    left: 100%;
                    width: 0%;
                }
            }
        }
    }

    .walks {
        width: 900px;
        text-align: center;
        margin: 0 auto;
        padding-top: 120px;
        

        h4 {
            text-transform: uppercase;
            font-size: 24px;
            color: #000000;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .walks-box {
            width: 250px;
            height: 150px;
            display: inline-block;
            margin: 20px;

            h5 {
                font-size: 16px;
                color: #000000;
                font-weight: bold;
            }

            p {
                font-family: italic;
                color: #000000;
                opacity: .5;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 40px;
                margin-top: 15px;
            }
        }
    }

    .contact {
        background: rgb(245, 245, 245);
        width: 100%;
        padding-top: 90px;

        .contact-form {
            width: 900px;
            margin: 0 auto;
            text-align: center;

            h4 {
                text-transform: uppercase;
                font-size: 24px;
                color: #000000;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .contact-info {
                display: flex;
                justify-content: space-around;

                .text {
                    font-family: italic;
                    color: #000000;
                    opacity: .5;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 40px;
                }

                .text::after {
                    content: '/';
                    margin-left: 70px;
                    position: absolute;
                }

                .text:last-child::after {
                    content: '';
                }
            }

            form {
                width: 600px;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 50px;

                input {
                    width: 250px;
                    padding: 10px 15px;
                    border: none;
                    font-size: 18px;
                    
                }
                input::placeholder {
                    padding: 8px;
                 }

                textarea {
                    width: 535px;
                    padding: 10px 15px;
                    height: 150px;
                    border: none;
                    font-size: 18px;
                    margin-top: 20px;
                    resize: none;
                }
                textarea::placeholder {
                    padding: 8px;
                }

                .field-block {
                    float: left;
                    margin-left: 40px;
                    margin-top: 30px;
                    

                    input {
                        width: 30px;
                    }

                    .check-text {
                        font-size: 14px;
                        color: #000000;
                    }
                }
                button {
                    width: 565px;
                    border: none;
                    padding: 10px 5px;
                    color: #ffffff;
                    background: #000000;
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }

        }
    }
}

@media screen and (max-width: 1024px){
    .social {
        display: none;
    }

    .header {
        width: 100%;

        nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    .cnt {
        width: 100%;

        .main {
            width: 1024px;

            .main-cnt {
                width: 964px;
                margin: 0 auto;

                span::before,
                span::after {
                    display: none;
                }
            }

            .main-cnt-bg {
                width: 964px;
            }
        }

        .hotel {
            width: 964px;
            
            form {
                width: 970px;
            }

        }
    }
}

@media screen and (max-width: 769px) {

    .header {
        width: 100%;
        height: 50px;
        nav {
            display: none;
        }
    }
    .cnt {
        width: 100%;
        margin-top: 0;

        .main {
            width: 100%;
            padding-top: 30px;

            .main-cnt {
                width: 100%;
                margin: 0 auto;
            }

            .main-cnt-bg {
                width: 96%;
            }
        }

        .hotel {
            width: 100%;
            padding-top: 0;
            form {
                width: 100%;
                display: grid;

                #datepicker,
                #datepicke,
                #number {
                    margin: 0;
                    padding: 10px 100px;
                }
                button {
                    margin-left: 0;
                }
            }
            .hotel-info {
                width: 100%;
            }
        }

        .rooms {
            width: 100%;
            padding: 0;

            .rooms-bg {
                width: 100%;
            }
        }

        .service {
            width: 100%;
            padding: 0;
        }

        .gallery {
            width: 100%;

            .slider {
                width: 100%;
                slider {
                    width: 100%;
                }
            }
        }
        .walks {
            width: 100%;
        }
        .contact {
            width: 100%;
            .contact-form  {
                width: 100%;
                form {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

@media screen and (max-width: 375px) {
    
}